<nav style="background-color: #004059; padding: 3px;">
<a href="#!" class="brand-logo center" style="font-family: Montserrat; font-weight: 500; font-size: 42px; color: #ffffff; text-decoration: none; letter-spacing: 1px;">StoryBooks</a> 
 <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="fas fa-bars"></i></a>
        
        <ul class="sidenav" id="mobile-demo">
       <li><a href="/stories" style="color: #ffffff;">Public Stories</a></li>
       <li><a href="/dashboard" style="color: #ffffff;">Dashboard</a></li>
       <li><a href="/auth/logout" style="color: #ffffff;">Logout</a></li>
        </ul>
    </div>
</nav>