p {
  margin: 10px 0 !important;
}

.login-container {
  width: 450px;
  margin-top: 50px;
  text-align: center;
}

.fa-small {
  font-size: 16px !important;
}

.btn-float {
  float: left;
  margin-right: 10px;
}

.img-small {
  width: 180px;
}

.fa-large {
  font-size: 26px !important;
}

.input-group {
  display: table;
  width: 60%; 
}

.input-group .input-field,
.input-group .input-group-addon {
  display: table-cell;
}

.search-form {
  margin: 40px 0;
}

body {
  background-color: #006d77
}

.search-form {
  margin-bottom: 20px;
}

.input-group {
  background-color: #028090; 
  padding: 10px;
  border-radius: 5px;
}

.input-field {
  margin-bottom: 0;
}


.input-field input[type="search"] {
  padding: 10px;
  border: none;
  border-radius: 2px;
  width: 90%; 
  background-color: #0000006c; 
  opacity: 1.8; 
}
.input-group-addon.btn {
  background-color: #004c6f; 
  color: #dedede; 
  border: none;
  border-radius: 5px;
  padding: 1px 10px;
  cursor: pointer;
  position: relative;
  top: -7px;
  right: -10px; 
}
.input-group-addon.btn:hover {
  background-color: #006edc; 
}

.card {
  margin-top: 30px;
  margin-right: 46px; 
  background-color:#ffffff; 
  font-weight:  300;
  font-family: 'Merriweather', serif;
  font-size: 24px;
}

.card-content {
  padding: 10px;
}

.card-content h5 {
  margin-top: 0;
}

.chip {
  margin-top: 10px;
}

.chip img {
  width: 28px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}


.sidenav {
  background-color: #03364a;
}


