<h3 style="font-family: 'Playfair Display', serif; font-size:45px; font-weight: bold; background-color: #00424a; padding: 7px; color: #FFFFFF;">Edit your story:</h3>
    <div class="row">
    <form action="/stories/{{story._id}}" method="POST" class="col s12">
        <input type="hidden" name="_method" value="PUT">
        <div class="row">
            <div class="input-field">
<input type="text" id="title" name="title" style="font-family: 'Merriweather', serif; font-size: 29px; line-height: 1.5; color: #fcfcfc; padding: 10px;" value="{{story.title}}">
<label for="title" style="font-family: 'Playfair Display', serif; font-weight: bold; padding: 7px; color: #FFFFFF; font-size: 26px; line-height: 1; background-color: #00424a;  border-radius: 5px;">Title</label>  
          
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <select id="status" name="status">
                    {{#select story.status}}
                    <option value="public" selected>Public</option>
                    <option value="private">Private</option>
                    {{/select}}
                </select>
<label for="status" style="font-size: 1em; color: #ffffff; background-color: #00424a; border-radius: 1px;">Status</label>     
            </div>
        </div>

        <div class="row">
            <div class="input-field">
<h5 style="font-family: 'Playfair Display', serif; font-size: 45px; font-weight: bold;  background-color: #00424a; padding: 7px; color: #FFFFFF;">Tell us your story:</h5>        
            <textarea id="body" name="body" style="background-color: #f0f3bd; font-family: 'Merriweather', serif; font-size: 22px; line-height: 1.5; color: #333333; padding: 10px; height: 300px;">s{{story.body}}</textarea>
            </div>
        </div>

        <div class="row">
      <input type="submit" value="Save" class="btn" style="background-color: #d4a373(6, 79, 153, 0.7); color: #ffffff;">
      <a href="/dashboard" class="btn" style="background-color: #d4a373;">Cancel</a>
        </div>
    </form>
</div>